@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body,h1,h2,h4,p{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color:#E3F4F1;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 120px;
    width: 100%;
    background-color: #75c9b7;
    color: white;
}
header div{
    display: flex;
    gap: 15px;
    font-size: 24px;
}
h1{
    font-size: 58px;
    font-weight:bold;
}
.white-link{
    text-decoration: none;
    color: white;
}
.items-bar{
    height: 30px;
    background-color: #75c9b7;
    padding-bottom: 10px;
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    color: white;
    gap: 5px;
}
#cart-icon{
    width: 30px;
    height: 30px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 35px;
    padding-left: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.home-container{
    background-image: url('./images/background.jpg');
    background-size:cover;
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    color: white;
}
.content-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
    margin-top: 100px;
}
.content-container p{
    font-size: 20px;
}
.content-container button{
    width: 120px;
    padding: 15px;
    color: white;
    background-color: #141614;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
}
h2{
    font-size: 42px;
}
.item{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #DED0C4;
}
.item img{
    width: 250px;
    height: 250px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.item p{
    color: red;
    font-weight: bold;
}

.item input{
    width: 25px;
    border: none;
}

.item button{
    background-color: #6fd689;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
}

.modal-background{
    display: none;
    justify-content: flex-end;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.cart-container{
    height: 100%;
    width: 400px;
    background-color: #E3F4F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

#items-section{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#items-section li{
    display: flex;
    gap: 5px;
    align-items: center;
}

#items-section li img{
    border-radius: 5px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

#close-modal{
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 30px;
}

@media (max-width: 700px){
    .container{
        width: fit-content;
        grid-template-columns: auto;
        margin: 0 auto;
        padding-left: 0;
    }
    .item{
        width: 250px;
        height: 350px;
    }
    .item img{
        width: 200px;
        height: 200px;
    }
    header{
        align-items: flex-start;
        padding-left: 10px;
    }
    h1{
        font-size: 35px;
    }
    header div{
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
    .items-bar{
        justify-content: center;
    }
    #root,body,html{
        height: 100%;
    }
    .home-container{
        width: 30rem;
        height: 50rem;
        background-repeat:no-repeat;
        background-size:cover;
    }
    .content-container{
        width: 300px;
        margin-left: 10px;
    }
}